.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #003366, #e0e7ff);}

.login-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.login-card mat-card-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.8em;
  color: #003366;
}

.full-width-input {
  width: 100%;
  margin-bottom: 15px;
}

.full-width-button {
  width: 100%;
  margin-top: 20px;
  font-size: 1.1em;
  padding: 10px 0;
}